/* CSS RESET BY ERIC MEYER */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN DEL CSS RESET */
/* INICIO DE LOS ESTILOS DE MI BLOG DE COCINA BY KARIN Y GABY */

html,body, a{
  font-family: 'Cutive Mono', monospace;
  color: #575757;
  font-size: 16px; /*DEFINICIÓN DE TAMAÑO DE LETRA GENERAL*/
}

/* estilos para el titulo del blog */
a.home-title{
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  line-height: 2em;
  font-weight: bold;
  color: rgb(250, 125, 162);
  display: block;
  text-align: center; /* lo coloco para centrar el texto aunque debería funcionar solo con margin no? */
  margin: 2% auto; /*por qué no funciona sólo para centrar y tengo que colocar la linea anterior?*/
}

/* barra de menú */
nav{ /* tamaño. y centrado de la barra de menu nav */
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
}

.menu{
  color: rgb(17, 17, 17);
}

ul.menu{ /* ajuste de espaciado del menu con flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.mobile-menu{
  display: none;
}

a.open, a.close{
  display: block;
  margin: 0 auto 1.5em auto;
  width: 90%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: rgb(250, 125, 162);
  color: white;
  border-radius: 0.5em;
  line-height: 2em;
  text-transform: uppercase;
}

a.open i, a.close i{
  font-size: 1em;
  padding: 0.4em 0.4em 0 0;
  vertical-align: center;
  text-align: center;
  display:inline-block;
}

.dropdown{ /* posición para que el menu dropdown se ubique correctamente */
    position: relative;
}

a.nav-menu{ /* estilo de los links de menu */
    display: inline-block;
    padding: 0.4em 0em;
    text-transform: uppercase;
    color: #575757;
    font-weight: bold;
}

.menu-lev2{ /* estilos del menu desplegable, hidden por defecto */
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
    width: auto; /* con esto todo el bloque del menù se ajusta al tamaño del texto */
    min-width: 100px;
    padding: 0.5em 0;
    display: none;
    background-color: whitesmoke;
}

.menu-lev2 a.nav-menu{ /* estilo de los links del menu secundario, ocultos con el ul */
    padding: 0.5em 1em;
    display: block;
    float: none;
    text-align: left;
}

.dropdown:hover, .nav-menu:hover{ /* estilos de hover del menu y el dropdown */
    color: rgb(250,125,162);
}

.dropdown:hover .menu-lev2{ /* aparicion del menu desplegable */
    display: block;
}


.carousel{
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 2% auto;
}

.recipe{
margin: 5px;
}

.recipes{
list-style-type: none;
margin: 0px;
padding: 0px;    
}

.recipes li{
float: left;
padding: 0px;
position: relative;
}

.recipes li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.recipes img{
    margin: 0 0 0 6px;
    padding: 0px;
    float: left;
    z-index: 4;
}

.recipes .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:400px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
    margin: 0 0 0 6px;
}
  
.recipes .blur{
    background-color: rgba(255,0,0,0.3);
    height: 100px;
    width: 320.5px;
    z-index: 5;
    position: absolute;
}

.recipes .description{
margin: 0 0 0 5px;
}
.recipes .description-p{
margin: 0 5px;
}

.description h2{
text-transform: uppercase;
font-size: 16px;
color: #fff;
width: 320px;
margin: 40px 0 0 0;
}

.recipes .caption-text p{
text-transform: uppercase;
font-size: 13px;
color: #fff;
padding: 0 5px;
width: 200px;

}

.recipes .caption-text p.carousel{
border-right: 1px solid #fff;
width: 120px;
padding: 0 auto;
}

.recipes .caption-text{
z-index: 10;
color: #fff;
position: absolute;
width: 320px;
height: 300px;
top:20px;
display: flex;
}

.container-submenu-bg{
  width: 32%;
  height: 30vh;
  position: relative;
  border-radius: 5vh;
  overflow: hidden;
}

section#submenu div.container-submenu-bg img{ /* posicionamiento de la imagen de background del submenu */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  -ms-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}


div.container-submenu-bg a.submenu-cat{
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 0.5em 20%;
  margin: 0 auto;
  background-color: white; 
  border-radius: 1em;
  text-transform: uppercase;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

div.container-submenu-bg a.submenu-cat:hover{
  background-color: rgb(250,125,162);
  opacity: 1;
  box-shadow: 2px 2px #575757;  
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

a.submenu-cat:hover + img{
  display: none;
  -webkit-transition: display 1s ease-in-out;
  -moz-transition: display 1s ease-in-out;
  -o-transition: display 1s ease-in-out;
  -ms-transition: display 1s ease-in-out;
  transition: display 1s ease-in-out;
}

.container-dostercios{
  width: 65%;
  margin: 0 3% 0 0;
  max-width: 600px;
  float: left;
  /* flex: 2; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
  
.video{
    width: 100%;
    height: 400px;
    margin: 0 3% 0 0;
    display: block;
    overflow: hidden;
}

.video iframe{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.tag-line{
  display: block;
  line-height: 1em;
  margin: 0 0 1em 0;
}

.tag-line p{
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
}

.tag-line p.video-date{
  padding: 0 2% 0 0;
  border-right: 1px solid #575757;
}
.lp{
  width: 100%;
  max-width: 400px;
  margin: 0 0 0 25px;
}

 .latest-images{
  width: 100%;
  border-radius: 35px;
}


  .latest-posts2{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    display: flex;
    margin: 5% auto 5%;
  }

  .latest-posts-2{
  display: flex;
  }

  
  .lp-2{
    display: flex;
    width: 380px;
  }

  h2{
    font-size: 20px;
    color: rgb(17, 17, 17);
    font-weight: bold;
    padding: 10px;
  }

  .more{
    border: 1px solid rgb(255, 220, 226);
    width: 120px;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 6px 0;
    box-sizing: border-box;
    color: #110d0d;
    float: left;
    background-color: rgb(255, 220, 226);
    border-radius: 8px;
  }

  .lp-top-line{
    border-right: 1px solid #ccc;
    padding: 0 5px 0 0;
  }

  .post-data{
    padding: 0 0 0 5px;
  }

  .post-social{
    padding: 0 0 0 38px;
  }

  .heart, .commentary, .share{
    padding: 0;
  }

aside{
  float:left;
  width: 30%;
  max-width: 300px;
  overflow: hidden;
  margin: 0 0 0 1%;
}

aside .profile-img{
  width: 200px;
  height: 200px;
  border-radius:50%;
  overflow: hidden;
  margin: 10% auto;
}

div.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.color-blck{
  background-color: rgb(255, 220, 226);
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  line-height: 1.2em;
  text-align: center;
  padding: 0.5em 0;
  text-transform: uppercase;
}

.title{
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

section.latest-posts{
  margin: 0 0 5% 0;
}

aside p{
  text-align: center;
}

aside p.title{
  font-size: 1.2em;
  margin: 5% 0;
}

aside p.bio-desc{
  margin: 0 5% 10% 5%;
  width: 90%;
  font-size: 0.9em;
  line-height: 0.9em;
  font-weight: bold;
}

footer{
  border-bottom: 1px solid #ccc;
  text-align: center;
  display: block;
  padding: 0 0 3% 0;
  margin: 10% 0 0 0;
}

footer a i{
  display: inline-block;
  margin: 0 0.5em;
}

.go-up{
  display: none;
  height: 2px;
  background-color: #ccc;
  position: relative;
  margin: 1em 0 2em 0;
}

.go-up a.btn-go-up{
  display: block;
  width: 2em;
  height: 2em;
  background-color: rgb(250, 125, 162);
  border-radius: 1em;
  position: absolute;
  top:50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.go-up .btn-go-up i{
  display: block;
  color: white;
  line-height: 2em;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 450px){

  header, nav, section{
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  header a.home-title{
    display: block;
    width: 100%;
    font-size: 2.5em;
    margin: 1em auto;
    line-height: 1em;
  }
 
  ul.menu{
    /* display: block;
    clear: both; */
    flex-direction: column;
    max-height: 6em;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out, background-color 2s ease 0;
    position: absolute;
    top: 100%;
    z-index: 10;
  }  

  #navigation .mobile-menu{
    display: block;
  }

  #navigation .mobile-menu a.close{
    display: none;
  }

  #navigation:target a.open{
    display: none;
  }

  #navigation:target a.close{
    display: block;
  }

  a.mobile-menu:target ul.menu{
    display: block;
    background: rgb(250,125,162) none repeat scroll 0 0;
    height: 8em;
    clear: both;
    transition: height 0.4s ease-in-out, background-color 2s ease 0;
  }
  div.container{
    flex-direction: column;
  }

  .carousel{
    margin: 0 auto 1.5em auto;
  }

  .carousel ul.recipes li.recipe:nth-child(1n+2) {
    display: none;
  }

  .carousel ul.recipes li.recipe{
    margin: 0 auto;
  }

  .carousel ul.recipes li.recipe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .container.submenu{
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
  }

  .carousel, .container-dostercios, .container-submenu-bg, .lp, aside{
    width: 100%;
    margin: 0 auto 1em auto;
  }

  .latest-posts, .lp{
    padding: 0;
    margin: 0;
  }

  .latest-posts2{
    border: none;
  }

  .lp{
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0 0 0;
  }

  .video, .tag-line, .latest-posts-2, .latest-images, span.social-ntwk{
    display: none;
  }

  .btn-area{
    margin: 2em auto;
  }

  .container-dostercios{
    display: block;
  }

  aside{
    float:none; 
    max-width: 90vw;
  }

  footer{
    border-bottom: none;
  }

  .go-up{
    display: block;
  }

  a.btn-go-up{
    transform: translate(-50% -50%);
  }

  a.btn-go-up:target, a.btn-go-up i:target{
    cursor: pointer;
  }
}