html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}

header{
  margin: 0 auto;
    overflow: hidden;
    width: 90%;
    min-width: 600px;
    max-width: 900px;
    text-align: center;
}

li{
  display: inline;
  margin: 5px;
}

div.carousel{
    display: flex;
    justify-content: center;
}

.receta{
  margin: 5px;
}

div.container{
    display: flex;
    justify-content:center;
    }

    .latest-images{
      border-radius: 35px;
    }

    .latest-posts2{
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 30px 25px;
    }

    .latest-posts-2{
      padding: 30px 25px;
    }

    .lp-2{
      float: right;
      padding: 30px 100px;
      display: flex;
    }

    h2{
      font-size: 20px
    }

    .more{
      border: 1px solid peachpuff;
      width: 120px;
      text-align: center;
      margin: 15px 0 0 0;
      padding: 6px 0;
      box-sizing: border-box;
      color: #110d0d;
      float: right;
      background-color: peachpuff;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    .lp-top-line{
      border-right: 1px solid #ccc;
    }

    .heart, .commentary, .share{
      padding: 0 10px;
    }

    footer{
      padding: 20px 25px;
      border-bottom: 1px solid #ccc;
      margin: 20px;
    }