
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none
}

html,body, a{
    font-family: 'Cutive Mono', monospace;
    color: #868686;
    font-size: 16px; /*DEFINICIÓN DE TAMAÑO DE LETRA GENERAL*/
}

.home-title{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: bold;
    color: rgb(250, 125, 162);
    display: block;
    text-align: center; /* lo coloco para centrar el texto aunque debería funcionar solo con margin no? */
    margin: 2% auto; /*por qué no funciona sólo para centrar y tengo que colocar la linea anterior?*/
}

nav{
    width: 30%;
    margin: 0 auto;
}

.menu{
    color: black;
}

ul.menu{
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li a.nav-menu{
    display: inline-block;
    padding: 0.4em 0;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
    font-weight: bold;
}

ul.menu-lev2{
    display: none;
}

.carousel{
    display: flex;
    flex-direction: row; /*valor por defecto del flex*/
    justify-content: space-between;
}

.receta{
  margin: 5px;
}

.container{
    display: flex;
    flex-direction: row; /*valor por defecto del flex*/
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    margin: 5% auto;
    }

    .container-dostercios{
      width: 80%;
      margin: 5% 20% 5% 0;
      max-width: 600px;
    }

    .video{
      /* width: 75%; */
      margin: 0 5% 0 0;
      flex: 2;
      display: block;
      object-fit: conver;
      object-position: left;
  }
  
  .video p{
      display: inline-block;
  }
  
  aside{
      flex: 1;
      max-width: 300px;
  }
  
  aside .img{
      width: 80%;
      height: 75%;
      border-radius:50%;
      /* object-fit: cover;
      object-position: right; */
      overflow: hidden;
      margin: 10% auto;
  }
  
  div.img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
  }
  
  .color-blck{
      background-color: rgb(255, 220, 226);
      display: block;
      font-size: 0.8em;
      color: black;
  }

  .lp{
    width: 100%;
    max-width: 400px;
    margin: 0 0 0 25px;
  }

   div .latest-images{
    width: 100%;
  }

    .latest-images{
      border-radius: 35px;
    }

    .latest-posts2{
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 30px 0;
      display: flex;
     margin: 10% auto;
    }

    .latest-posts-2{
      padding: 30px 0;
    }

    .lp-2{
      display: flex;
      width: 350px;
    }

    h2{
      font-size: 20px
    }

    .more{
      border: 1px solid peachpuff;
      width: 120px;
      text-align: center;
      margin: 15px 0 0 0;
      padding: 6px 0;
      box-sizing: border-box;
      color: #110d0d;
      float: left;
      background-color: peachpuff;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    .lp-top-line{
      border-right: 1px solid #ccc;
      padding: 0 5px 0 0;
    }

    .post-data{
      padding: 0 0 0 5px;
    }

    .post-social{
      padding: 0 0 0 45px;
    }

    .heart, .commentary, .share{
      padding: 0;
    }

    footer{
      padding: 20px 25px;
      border-bottom: 1px solid #ccc;
      margin: 20px;
    }